<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    
                        <p class="tagline">&copy; IEEE Cyber Science and Technology 2021. All rights reserved.</p>

                        <div class="clearfix">
                                <ul class="footer-links">
                                        <li>
                                        <a href="http://www.athabascau.ca/" target="_blank">Created and Maintained by the IEEE Cyber Science and Technology 2020 Web Team at Athabasca University, Alberta, Canada</a></li>

                                </ul>
                                <ul class="footer-social">
                                        <li>
                                                <a href="http://www.facebook.com/AthabascaU" target="_blank" class="facebook">
                                                        <i class="fa fa-facebook"><span class="hide">AU Facebook</span></i>
                                                </a>
                                        </li>
                                        <li>
                                                <a href="https://twitter.com/Athabascau" target="_blank" class="twitter">
                                                        <i class="fa fa-twitter"><span class="hide">AU Twitter</span></i>
                                                </a>
                                        </li>
                                        <li>
                                                <a href="https://www.instagram.com/athabascau/" target="_blank" class="instagram">
                                                        <i class="fa fa-instagram"><span class="hide">AU Instagram</span></i>
                                                </a>
                                        </li>
                                        <li>
                                                <a href="https://www.linkedin.com/company/19365" target="_blank" class="linkedin">
                                                        <i class="fa fa-linkedin"><span class="hide">AU LinkedIn</span></i>
                                                </a>
                                        </li>
                                </ul>
                        </div>

                        <div id="copyright">© 2019 Athabasca University is a world-class leader in online and distance education. Based in Alberta and
                        available online around the world, we are Canada's Open University. <p>
                        <a href="https://www.ieee.org/security-privacy.html" target=_new>IEEE Privacy Policy</a></div>


  </div>
  <!-- /.container -->
</footer>
