<footer class="py-5">
  <div style="background:#1B365D">
  <div class="container">
    <p class="m-0 text-center text-white">
      
                <br/>
                                     
                        

                           &copy; 2021 Athabasca University is a world-class leader in online and distance education. Based in Alberta and
  available online around the world, we are Canada's Open University.     <br/>    <br/>
              <a href="http://www.athabascau.ca/" target="_new" class="text-muted">Created and Maintained by the IEEE Cyber Science and Technology 2021 Web Team at Athabasca University, Alberta, Canada</a></li>

                       &nbsp;      &nbsp; |  &nbsp;   &nbsp;   
                                             <a href="https://www.ieee.org/security-privacy.html" target="_new"  class="text-muted">IEEE Privacy Policy</a>
     <br/>
    
    </p>
  </div>
  <!-- /.container -->
  </div>
    </footer>
