<footer class="py-5">
  <div style="background:#1B365D">
  <div class="container">
    <p class="m-0 text-center text-white">
      
                <p>
                                        <a href="http://www.athabascau.ca/" target="_blank">Created and Maintained by the IEEE Cyber Science and Technology 2021 Web Team at Athabasca University, Alberta, Canada</a></li>

                                </p><p>
                                
                        

                           Copyright &copy; 2021 Athabasca University is a world-class leader in online and distance education. Based in Alberta and
  available online around the world, we are Canada's Open University. </p><p>
                        <a href="https://www.ieee.org/security-privacy.html" target=_new>IEEE Privacy Policy</a>
    </p><p>
      Copyright &copy; 2021 IEEE Cyber Science and Technology Congress (CyberSciTech 2021)
    </p>
  </div>
  <!-- /.container -->
  </div>
    </footer>
